<p>
  <b>Title:</b>
  <%=h @expert_professional.title %>
</p>

<p>
  <b>Primaryrole:</b>
  <%=h @expert_professional.primaryrole %>
</p>

<p>
  <b>Expertin:</b>
  <%=h @expert_professional.expertin %>
</p>

<p>
  <b>Special1:</b>
  <%=h @expert_professional.special1 %>
</p>

<p>
  <b>Special2:</b>
  <%=h @expert_professional.special2 %>
</p>

<p>
  <b>Academic1:</b>
  <%=h @expert_professional.academic1 %>
</p>

<p>
  <b>Academic2:</b>
  <%=h @expert_professional.academic2 %>
</p>

<p>
  <b>Academic3:</b>
  <%=h @expert_professional.academic3 %>
</p>

<p>
  <b>Qualification1:</b>
  <%=h @expert_professional.qualification1 %>
</p>

<p>
  <b>Qualification2:</b>
  <%=h @expert_professional.qualification2 %>
</p>

<p>
  <b>Qualification3:</b>
  <%=h @expert_professional.qualification3 %>
</p>

<p>
  <b>Pastjob1:</b>
  <%=h @expert_professional.pastjob1 %>
</p>

<p>
  <b>Pastjob2:</b>
  <%=h @expert_professional.pastjob2 %>
</p>

<p>
  <b>Pastjob3:</b>
  <%=h @expert_professional.pastjob3 %>
</p>

<p>
  <b>Jobalert:</b>
  <%=h @expert_professional.jobalert %>
</p>

<p>
  <b>Minrate:</b>
  <%=h @expert_professional.minrate %>
</p>

<p>
  <b>Maxrate:</b>
  <%=h @expert_professional.maxrate %>
</p>

<p>
  <b>Hrsperweek:</b>
  <%=h @expert_professional.hrsperweek %>
</p>


<%= link_to 'Edit', edit_expert_professional_path(@expert_professional) %> |
<%= link_to 'Back', expert_professionals_path %>