<p>
  <b>Firstname:</b>
  <%=h @expert_personal.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @expert_personal.lastname %>
</p>

<p>
  <b>Picture:</b>
  <%=h @expert_personal.picture %>
</p>

<p>
  <b>Security:</b>
  <%=h @expert_personal.security %>
</p>

<p>
  <b>Answer:</b>
  <%=h @expert_personal.answer %>
</p>

<p>
  <b>Addressline1:</b>
  <%=h @expert_personal.addressline1 %>
</p>

<p>
  <b>Addressline2:</b>
  <%=h @expert_personal.addressline2 %>
</p>

<p>
  <b>Postalcode:</b>
  <%=h @expert_personal.postalcode %>
</p>

<p>
  <b>City:</b>
  <%=h @expert_personal.city %>
</p>

<p>
  <b>Country:</b>
  <%=h @expert_personal.country %>
</p>

<p>
  <b>Timezone:</b>
  <%=h @expert_personal.timezone %>
</p>

<p>
  <b>Phonecountrycode:</b>
  <%=h @expert_personal.phonecountrycode %>
</p>

<p>
  <b>Phoneareacode:</b>
  <%=h @expert_personal.phoneareacode %>
</p>

<p>
  <b>Phonenumber:</b>
  <%=h @expert_personal.phonenumber %>
</p>


<%= link_to 'Edit', edit_expert_personal_path(@expert_personal) %> |
<%= link_to 'Back', expert_personals_path %>