

<%= render :partial => 'common/front_end_tabs' %>

  <div class="main-content">
    <div class="inner-panel_lg_holder">
      <h2>Step 4 : Please Insert Your Address</h2>
      <div class="inner-panel_lg">
       <div id="tabx" class="clearfix">
         <div class="form00 fix-ie-preface">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eros dui, ornare id molestie vel, placerat id odio.
          Nam non lorem id mauris rutrum euismod vel at est. Ut at imperdiet eros. Suspendisse iaculis faucibus volutpat.
          Sed ac consectetur lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          Donec vulputate faucibus risus ut sollicitudin.</p>
		 </div>
         <%= error_messages_for :expert_location %>	
		  <!--<h4>
             <input type="radio" id="form00-001" name="role" value="expert"/> I want create to a provider's account &nbsp;&nbsp;
             <input type="radio" id="form00-002" name="role" value="client"/> I want create to a client's account
          </h4>-->
         <div class="just-panel add_width_for_single_panel">
         <!-- <form method="post"> -->
		  <% form_for(@expert_location) do |f| %>
  
          <div class="form00 clearfix">
            <table width="900px" cellpadding="0" cellspacing="0">
              <!--<tr>
                <td><label for="form00-01">Your name<span class="color-red">*</span> </label></td>
                <td><input type="text" id="form00-01" value="" /></td>
              </tr> -->
              <style>
			  .form00-02 label {width:400px;}
			  </style>
			  <tr>
                <td width="450px"><label for="form00-02">Country<span class="color-red"></span> </label></td>
                <td width="450px"><%= f.text_field :country %></td>
              </tr>
			  <tr>
                <td width="450px"><label for="form00-02">Address Line 1<span class="color-red"></span> </label></td>
                <td width="450px"><%= f.text_field :addressline1 %></td>
              </tr>
			  <tr>
                <td><label for="form00-02">Address Line 2<span class="color-red"></span> </label></td>
                <td><%= f.text_field :addressline2 %></td>
              </tr>

              <tr>
                <td><label for="form00-02">Postal Code<span class="color-red"></span> </label></td>
                <td><%= f.text_field :postalcode %></td>
              </tr>
              <tr>
                <td><label for="form00-02">City<span class="color-red"></span> </label></td>
                <td><%= f.password_field :city %></td>
              </tr>
              <tr>
                <td><label for="form00-02">Phone<span class="color-red"></span> </label></td>
                <td><%= f.text_field :phone %></td>
              </tr>

              <tr>
                <td>&nbsp;</td>
                <td>
				<%= submit_tag 'Next Step', :style=>"float:right", :class=>"medium-button submit" %> 
				<!--<input type="button" value="Previous Step" style="float: right;" name="step1" onclick="location.href='/account_type'" class="medium-button submit"/>-->
				</td>
              </tr>
            </table>
			
          </div>
          <% end -%>
        </div>

      </div>
    </div>
   </div>
	<div class="clear c0">&nbsp;</div>
  </div>
